@font-face {
    font-family: 'srovnavac';
    src:  url('../fonts/srovnavac.eot?ocjxfj');
    src:  url('../fonts/srovnavac.eot?ocjxfj#iefix') format('embedded-opentype'),
        url('../fonts/srovnavac.ttf?ocjxfj') format('truetype'),
        url('../fonts/srovnavac.woff?ocjxfj') format('woff'),
        url('../fonts/srovnavac.svg?ocjxfj#srovnavac') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VAGRoundedLTPro-Light';
    src: url('../fonts/VAGRoundedLTProLight.eot');
    src: url('../fonts/VAGRoundedLTProLight.eot') format('embedded-opentype'),
         url('../fonts/VAGRoundedLTProLight.woff2') format('woff2'),
         url('../fonts/VAGRoundedLTProLight.woff') format('woff'),
         url('../fonts/VAGRoundedLTProLight.ttf') format('truetype'),
         url('../fonts/VAGRoundedLTProLight.svg#VAGRoundedLTProLight') format('svg');
}
@font-face {
    font-family: VAGRoundedLTPro-Bold;
    src: url('../fonts/VAGRoundedLTPro-Bold.ttf') format('truetype'),
        url('../fonts/VAGRoundedLTPro-Bold.woff') format('woff'),
        url('../fonts/VAGRoundedLTPro-Bold.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'Proxima Soft';
    src: url('../fonts/proxima_soft.ttf') format('truetype'),
         url('../fonts/proxima_soft.woff2') format('woff2'),
         url('../fonts/proxima_soft.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Proxima Soft Semibold';
    src: url('../fonts/proxima_soft_semibold.ttf') format('truetype'),
         url('../fonts/proxima_soft_semibold.woff2') format('woff2'),
         url('../fonts/proxima_soft_semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Soft Bold';
    src: url('../fonts/ProximaSoftBold.eot');
    src: url('../fonts/ProximaSoftBold.eot') format('embedded-opentype'),
         url('../fonts/ProximaSoftBold.woff2') format('woff2'),
         url('../fonts/ProximaSoftBold.woff') format('woff'),
         url('../fonts/ProximaSoftBold.ttf') format('truetype'),
         url('../fonts/ProximaSoftBold.svg#ProximaSoftBold') format('svg');
}
.vag {
    font-family: 'VAGRoundedLTPro-Bold', sans-serif;
}
.vagl {
    font-family: 'VAGRoundedLTPro-Light', sans-serif;
}
.pro-nova {
    font-family: 'Proxima Soft', sans-serif;
}
.pro-nova-sb {
    font-family: 'Proxima Soft Semibold', sans-serif;
}
.pro-nova-b {
    font-family: 'Proxima Soft Bold', sans-serif;
    letter-spacing: -0.075em;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'srovnavac' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shape-auto1:before {
  content: "\61";
}
.shape-dum:before {
  content: "\62";
}
.shape-domacnost:before {
  content: "\63";
}
.shape-accident:before {
  content: "\66";
}
.shape-armchair1:before {
  content: "\67";
}
.shape-armchair4:before {
  content: "\68";
}
.shape-bus55:before {
  content: "\69";
}
.shape-calculator46:before {
  content: "\6a";
}
.shape-call41:before {
  content: "\6e";
}
.shape-call44:before {
  content: "\6f";
}
.shape-car66:before {
  content: "\70";
}
.shape-car72:before {
  content: "\71";
}
.shape-car171:before {
  content: "\72";
}
.shape-car189:before {
  content: "\73";
}
.shape-cars1:before {
  content: "\74";
}
.shape-chair4:before {
  content: "\75";
}
.shape-chair20:before {
  content: "\76";
}
.shape-coin16:before {
  content: "\78";
}
.shape-computers:before {
  content: "\7a";
}
.shape-crash1:before {
  content: "\41";
}
.shape-creditcard3:before {
  content: "\42";
}
.shape-delivery13:before {
  content: "\43";
}
.shape-delivery22:before {
  content: "\44";
}
.shape-finances1:before {
  content: "\45";
}
.shape-flowers12:before {
  content: "\46";
}
.shape-helmet6:before {
  content: "\47";
}
.shape-home4:before {
  content: "\48";
}
.shape-home110:before {
  content: "\49";
}
.shape-home168:before {
  content: "\4a";
}
.shape-house28:before {
  content: "\4b";
}
.shape-house93:before {
  content: "\4c";
}
.shape-island:before {
  content: "\4d";
}
.shape-maths26:before {
  content: "\4e";
}
.shape-money405:before {
  content: "\4f";
}
.shape-motorcycle3:before {
  content: "\50";
}
.shape-motorcycle17:before {
  content: "\51";
}
.shape-objective:before {
  content: "\52";
}
.shape-savings1:before {
  content: "\53";
}
.shape-sedan4:before {
  content: "\54";
}
.shape-settings48:before {
  content: "\55";
}
.shape-single17:before {
  content: "\56";
}
.shape-transport12:before {
  content: "\57";
}
.shape-transport561:before {
  content: "\58";
}
.shape-truck67:before {
  content: "\59";
}
.shape-vehicle75:before {
  content: "\5a";
}
.shape-woman93:before {
  content: "\30";
}
.shape-work26:before {
  content: "\31";
}
.shape-worker39:before {
  content: "\32";
}
.shape-chata:before {
  content: "\64";
}
.shape-palma:before {
  content: "\65";
}
.shape-dalsi:before {
  content: "\e908";
}
.shape-n-coins:before {
  content: "\33";
}
.shape-n-havarka:before {
  content: "\34";
}
.shape-n-kalkulacka:before {
  content: "\35";
}
.shape-n-lampa-kreslo:before {
  content: "\36";
}
.shape-n-moto:before {
  content: "\37";
}
.shape-n-moto-celni:before {
  content: "\38";
}
.shape-n-odpovednost:before {
  content: "\39";
}
.shape-n-palma:before {
  content: "\21";
}
.shape-n-povka:before {
  content: "\22";
}
.shape-n-telefon:before {
  content: "\23";
}
.shape-n-truck:before {
  content: "\24";
}
.shape-n-auto:before {
  content: "\25";
}
.shape-n-auto-celni:before {
  content: "\26";
}
.shape-n-chata:before {
  content: "\27";
}
.shape-n-uspory:before {
  content: "\28";
}
.shape-n-atd:before {
  content: "\2a";
}
.shape-n-dalsi:before {
  content: "\2b";
}
.shape-n-dum:before {
  content: "\29";
}
.shape-n_byt-dvere:before {
  content: "\e900";
}
.shape-n_dalsi:before {
  content: "\e909";
}
.shape-byt:before {
  content: "\e901";
}
.shape-o-ruceni:before {
  content: "\e906";
}
.shape-o-domacnost:before {
  content: "\e902";
}
.shape-o-nemovitost:before {
  content: "\e903";
}
.shape-o-odpovednost:before {
  content: "\e904";
}
.shape-o-cestovka:before {
  content: "\e905";
}
.shape-o-dalsi:before {
  content: "\e907";
}
.shape-o-obcanska:before {
  content: "\e90e";
}
.shape-o-obcanska2:before {
  content: "\e90d";
}
.shape-o-stavebko:before {
  content: "\e912";
}
.shape-o-hypoteka:before {
  content: "\e913";
}
.shape-hyp-porizeni:before {
  content: "\e90f";
}
.shape-hyp-refinance:before {
  content: "\e910";
}
.shape-hyp-americka:before {
  content: "\e911";
}
.shape-happy:before {
  content: "\e90a";
}
.shape-even:before {
  content: "\e90b";
}
.shape-unhappy:before {
  content: "\e90c";
}
